body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    box-sizing: border-box;
    font-family: "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d3d3d3;
    &:hover {
        background-color: #808080;
    }
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html,
body {
    height: 100%;
    width: 100%;
    min-width: 1024px;
    background-color: #F5F5F5;
    zoom: 1;
}

// tabs 
.el-tabs {
    &.el-tabs--card,
    &.el-tabs--border-card {
        background: #324157;
        border: solid 1px #8391a5;
        box-shadow: 0px 0px 15px #000000;
        .el-tabs__header .el-tabs__item {
            border: none;
            &.is-active {
                border: none;
            }
        }
    }
    .el-tabs__header {
        border: none;
    }
}

// table
.el-table {
    tr {
        background-color: #324157 !important;
    }
    td,
    th.is-leaf {
        border: none !important;
    }
    .cell {
        color: #bcc8d6 !important;
    }
    .el-table__body tr.current-row>td {
        background-color: #506688 !important;
    }
    &--enable-row-hover .el-table__body {
        table {
            border: none;
        }
        tr:hover>td {
            background-color: rgba(237, 247, 255, 0.38) !important;
            background-clip: inherit !important;
        }
    }
}